main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../asset/img/img.enter.jpeg) center/cover;
}
form {
  width: auto;
  height: auto;
}
input {
  border: 2px solid gray;
  width: 200px;
  height: 60px;
  border-radius: 20px;
}
input:focus {
  border-color: blue;
}
#conditon-utilisation {
  width: 20px;
  height: 20px;
}
